/*Classes de PrimeiroPrograma*/
#Olá {
	font-family: Bahnschrift, Arial Narrow;
	font-size: 22px;
	text-shadow: 0px 2px 0px #000000;
	color: #fe0000;
	background-color: #00539f;
	text-align: center;
}

#jdm {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

html {
	font-family: bookman old style;
	font-size: 15px;
	color: #333333;
	background-color: #ffffdd;
}

a:link {
	color: #AA0000;
}

a:visited {
	color: #00aa00;
}

a:hover {
	color:#0000aa;
}